body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}
.banner {
  font-size: 40px;
  font-family: Sans-serif;
}
.title {
  font-family: Sans-serif;
  font-size: 60px;
}
img.title-image {
  width: 200px;
  height: 200px;
}
img.square-image {
  width: 100%;
  height: 350px;
}
div.fix-height-grid {
  height: 350px;
}
img.banner_image {}
div.blank-row {
  height: 10px;
}
.imageAndText {
  position: relative;
}
.textOnImg {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 40%;
  font-size: 30px;
}
.textOnImg {
  background-color: #ffffff;
  opacity: 0.6;
  padding-left: 10px;
  padding-right: 10px;
  color: #777777;
  font-family: fantasy;
}
h1.title {
  font-family: fantasy;
}
div.div-inline {
  display: inline;
}
@media (min-width: 600px) {
  .container {
    width: 50%;
  }
}
body {
  font-size: 18px;
}
body {
  background-color: #eeeeee;
}
div.container {
  background-color: #ffffff;
  padding: 50px;
}
img.normal {
  width: 70%;
}
img.fullscreen {
  width: 100%;
}
div.blank-max {
  height: 60px;
}
div.blank-medium {
  height: 30px;
}
.small-text {
  font-size: 15px;
}
img.display-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
